<!-- mailing/home.html -->
<h1>Главная страница</h1>
<p>Всего рассылок: {{ total_mailings }}</p>
<p>Активных рассылок: {{ active_mailings }}</p>
<p>Уникальных получателей: {{ unique_recipients }}</p>
<nav>
    <a href="{% url 'mailing:recipient_list' %}">Управление получателями</a>
    <a href="{% url 'mailing:message_list' %}">Управление сообщениями</a>
    <a href="{% url 'mailing:mailing_list' %}">Управление рассылками</a>
    <a href="{% url 'mailing:send_mailing' %}">Отправить рассылку</a>
</nav>
